<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 well">
      <div class="row">
        <div class="col-md-3">
          <label for="productCode" class="control-label">Product Code:</label>
        </div>
        <div class="col-md-7">
          <span name="productCode">
            {{product?.productCode}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="productName" class="control-label">Product Name:</label>
        </div>
        <div class="col-md-7">
          <span name="productName">
            {{product?.productName}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="productUrl" class="control-label">Product Url:</label>
        </div>
        <div class="col-md-7">
          <span name="productUrl">
            {{product?.productUrl}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button type="submit" class="btn btn-info" (click)="deleteProduct()">Delete</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="redirectToProductList()">Cancel</button>
    </div>
  </div>
  <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'Product Deleted successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToProductList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error message'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
</div>